tourpelotransporte/xml-resources/web-service-references/webservicejena/wsdl/localhost_8080/webservicetransporte/webservicejena.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model.br.ufjf/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://model.br.ufjf/" name="webservicejena">
<types>
<xsd:schema>
<xsd:import namespace="http://model.br.ufjf/" schemaLocation="http://localhost:8080/webservicetransporte/webservicejena?xsd=1" />
</xsd:schema>
</types>
<message name="obterVeiculosDeMarcio">
<part name="parameters" element="tns:obterVeiculosDeMarcio" />
</message>
<message name="obterVeiculosDeMarcioResponse">
<part name="parameters" element="tns:obterVeiculosDeMarcioResponse" />
</message>
<message name="obterIndividuosComInferencia">
<part name="parameters" element="tns:obterIndividuosComInferencia" />
</message>
<message name="obterIndividuosComInferenciaResponse">
<part name="parameters" element="tns:obterIndividuosComInferenciaResponse" />
</message>
<message name="obterSubclassesSemInferencia">
<part name="parameters" element="tns:obterSubclassesSemInferencia" />
</message>
<message name="obterSubclassesSemInferenciaResponse">
<part name="parameters" element="tns:obterSubclassesSemInferenciaResponse" />
</message>
<message name="obterSubclassesComInferencia">
<part name="parameters" element="tns:obterSubclassesComInferencia" />
</message>
<message name="obterSubclassesComInferenciaResponse">
<part name="parameters" element="tns:obterSubclassesComInferenciaResponse" />
</message>
<message name="obterSubclassesSemInferenciaSparql">
<part name="parameters" element="tns:obterSubclassesSemInferenciaSparql" />
</message>
<message name="obterSubclassesSemInferenciaSparqlResponse">
<part name="parameters" element="tns:obterSubclassesSemInferenciaSparqlResponse" />
</message>
<message name="obterSubclassesComInferenciaSparql">
<part name="parameters" element="tns:obterSubclassesComInferenciaSparql" />
</message>
<message name="obterSubclassesComInferenciaSparqlResponse">
<part name="parameters" element="tns:obterSubclassesComInferenciaSparqlResponse" />
</message>
<portType name="webservicejena">
<operation name="obterVeiculosDeMarcio">
<input wsam:Action="http://model.br.ufjf/webservicejena/obterVeiculosDeMarcioRequest" message="tns:obterVeiculosDeMarcio" />
<output wsam:Action="http://model.br.ufjf/webservicejena/obterVeiculosDeMarcioResponse" message="tns:obterVeiculosDeMarcioResponse" />
</operation>
<operation name="obterIndividuosComInferencia">
<input wsam:Action="http://model.br.ufjf/webservicejena/obterIndividuosComInferenciaRequest" message="tns:obterIndividuosComInferencia" />
<output wsam:Action="http://model.br.ufjf/webservicejena/obterIndividuosComInferenciaResponse" message="tns:obterIndividuosComInferenciaResponse" />
</operation>
<operation name="obterSubclassesSemInferencia">
<input wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesSemInferenciaRequest" message="tns:obterSubclassesSemInferencia" />
<output wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesSemInferenciaResponse" message="tns:obterSubclassesSemInferenciaResponse" />
</operation>
<operation name="obterSubclassesComInferencia">
<input wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesComInferenciaRequest" message="tns:obterSubclassesComInferencia" />
<output wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesComInferenciaResponse" message="tns:obterSubclassesComInferenciaResponse" />
</operation>
<operation name="obterSubclassesSemInferenciaSparql">
<input wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesSemInferenciaSparqlRequest" message="tns:obterSubclassesSemInferenciaSparql" />
<output wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesSemInferenciaSparqlResponse" message="tns:obterSubclassesSemInferenciaSparqlResponse" />
</operation>
<operation name="obterSubclassesComInferenciaSparql">
<input wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesComInferenciaSparqlRequest" message="tns:obterSubclassesComInferenciaSparql" />
<output wsam:Action="http://model.br.ufjf/webservicejena/obterSubclassesComInferenciaSparqlResponse" message="tns:obterSubclassesComInferenciaSparqlResponse" />
</operation>
</portType>
<binding name="webservicejenaPortBinding" type="tns:webservicejena">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obterVeiculosDeMarcio">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obterIndividuosComInferencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obterSubclassesSemInferencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obterSubclassesComInferencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obterSubclassesSemInferenciaSparql">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obterSubclassesComInferenciaSparql">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="webservicejena">
<port name="webservicejenaPort" binding="tns:webservicejenaPortBinding">
<soap:address location="http://localhost:8080/webservicetransporte/webservicejena" />
</port>
</service>
</definitions>